body {
    color: #000;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%
}

.selected {
    background-color: gray;
}

.highlight {
    background-color: yellow;
}

.verse {
    padding: 6px;
    font-family: "Helvetica Neue",Arial,"Liberation Sans",FreeSans,sans-serif;
    font-size: 19px;
    font-weight: normal;
    line-height: 2em;
    cursor: pointer;
}

.verse:hover {
    background-color: #99ff99;
    cursor: pointer;
}